.sf-editor-outline-wrapper {
  display: flex;
  margin: 20px 30px 20px 16px;
  min-height: 0;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  top: 100px;
  z-index: 101;
}

.sf-editor-outline-wrapper.active {
  pointer-events: all;
}

.sf-editor-outline {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-size: 14px;
  min-height: 0;
  position: relative;
  width: 220px;
}

.sf-editor-outline-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  color: #999;
  border-bottom: 1px solid #dbdbdb;
}

.sf-editor-outline-header_title {
  font-size: 14px;
  line-height: 1.1;
  margin: 0 !important;
}

.sf-editor-outline-header_close {
  cursor: pointer;
  font-size: 14px;
}

.sf-editor-outline-header_close:hover {
  color: #666;
}

.sf-editor-outline-list-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .5rem 0;
  word-break: break-word;
}

.sf-editor-outline-item {
  padding: 4px 6px 4px 0;
  width: 100%;
  overflow-wrap: anywhere;
  cursor: pointer;
}

.sf-editor-outline-item.active {
  color: #ED7109;
}

.sf-editor-outline-menu {
  line-height: 1;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 0 50% 50% 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: -15px;
  pointer-events: all;
}

.sf-editor-outline-menu .custom-tooltip {
  visibility: hidden;
  opacity: 0;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 100%;
  margin-left: 42px;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.sf-editor-outline-menu:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

.sf-editor-outline-menu.disabled {
  opacity: .65;
}

.sf-editor-outline-menu:not(.disabled):hover {
  color: #666;
}

.sf-editor-outline .empty-container {
  margin-top: 10px;
  text-align: center;
}
