.sf-menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 8px 0;
  min-width: 80px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px #eee;
  border-radius: 4px;
  background: #fff;
  color: #333;
  z-index: 1080;
}

.sf-menu-container .sf-menu-item {
  height: 32px;
  line-height: 32px;
  display: flex;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}

.sf-menu-container .sf-menu-item:hover {
  background-color: #f5f5f5;
}

.sf-menu-container .sf-menu-item .menu-item-icon {
  margin-right: 5px;
  color: #aaa;
}

.sf-menu-container .sf-menu-item .icon-check-mark {
  position: absolute;
  right: 10px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  color: #aaa;
}
