.sf-tooltip {
  pointer-events: none;
}

.sf-tooltip .tooltip-inner {
  font-weight: lighter;
  text-align: start;
  background-color: #303133;
}

.sf-tooltip.bs-tooltip-auto[data-popper-placement^="bottom"] .arrow::before {
  border-bottom-color: #303133;
}

.sf-tooltip.bs-tooltip-auto[data-popper-placement^="top"] {
  margin-bottom: -2px;
}

.sf-tooltip.bs-tooltip-auto[data-popper-placement^="top"] .arrow::before {
  border-top-color: #303133;
}

.sf-tooltip.bs-tooltip-auto[data-popper-placement^="right"] .arrow::before {
  border-right-color: #303133;
}

.sf-tooltip.bs-tooltip-auto[data-popper-placement^="left"] .arrow::before {
  border-left-color: #303133;
}
