.sf-panel-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 620px;
  min-width: 360px;
  position: relative;
  height: 100%;
}

.sf-panel-container {
  height: 100%;
}

.sf-panel-container[style*="display: none"] {
  opacity: 0;
  pointer-events: none;
}

.sf-panel-container[style*="display: block"] {
  opacity: 1;
  pointer-events: auto;
}
