/* insert element dropdown item */
.sf-dropdown-item-with-left-icon .sf-dropdown-item-content .sf-dropdown-item-content-icon {
  color: #444;
}

.sf-link-dropdown-menu-item .sf-dropdown-item-content {
  justify-content: space-between;
}

.sf-dropdown-menu-item-relative {
  position: relative;
}

.sf-dropdown-menu .sf-dropdown-item-right-icon {
  color: #999;
}

.sf-dropdown-menu .sf-dropdown-item-with-left-icon {
  min-height: 32px;
  padding: 3px 12px;
}

.sf-dropdown-menu .sf-dropdown-menu-item {
  align-items: center;
  display: flex;
  height: 30px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%
}

.sf-dropdown-menu .sf-dropdown-menu-item .sf-dropdown-item-content {
  align-items: center;
  display: flex;
  flex: 1 1;
  font-size: 14px
}

.sf-dropdown-menu .sf-dropdown-menu-item .mdfont {
  font-size: 14px;
  line-height: 14px;
}

.sf-dropdown-menu .sf-dropdown-item-right-icon {
  color: #999;
}

.sf-dropdown-menu .sf-dropdown-item-content .sf-dropdown-item-content-icon {
  margin-right: 10px;
  vertical-align: 1px;
}
