.sf-popover-box-shadow {
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.1);
}

.sf-dropdown-menu {
  width: fit-content;
  min-width: 200px;
  max-width: 240px;
  max-height: 600px;
  padding: 8px;
  overflow: visible;
}

.sf-sub-dropdown-menu .popover {
  left: 0px !important;
  z-index: 1070;
}

.sf-sub-dropdown-menu .bs-popover-auto[x-placement^="left"] {
  left: 8px !important;
}

.sf-dropdown-menu .sf-dropdown-menu-item {
  height: 32px;
  width: 100%;
  padding: 3px 12px;
  user-select: none;
  display: flex;
  align-items: center;
}

.sf-sub-dropdown-menu:hover,
.sf-dropdown-menu .sf-dropdown-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  cursor: pointer;
}
