.sf-slate-editor-toolbar {
  background-color: #fcfcfc !important;
}

.sf-slate-editor-toolbar .sf-slate-article-info-control {
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #555;
}

.sf-slate-editor-toolbar .sf-slate-article-info-control:hover {
  background-color: #e5e5e5;
}

.sf-slate-editor-toolbar .sf-slate-help-info-control {
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #555;
}

.sf-slate-editor-toolbar .sf-slate-help-info-control>span:hover {
  cursor: pointer;
  color: #333;
}

.sf-slate-editor-toolbar .sf-slate-article-info-control .sdocfont {
  font-size: 14px;
}

.sf-long-text-inline-editor-container .sf-header-menu {
  min-width: 100px;
}

.sf-long-text-inline-editor-container .sf-header-menu .sf-header-popover {
  min-width: 145px;
}
