.menu-group-item.sf-insert-toolbar-btn {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #666
}

.menu-group-item.sf-insert-toolbar-btn .text-truncate {
  color: #212529;
}

.menu-group-item.sf-insert-toolbar-btn:not(.disable):hover {
  background-color: #EFEFEF;
}

.menu-group-item.sf-insert-toolbar-btn.disabled {
  width: 80px !important;
  color: #c2c2c2;
}

.menu-group-item.sf-insert-toolbar-btn.disabled .text-truncate {
  color: #c2c2c2;
}

.menu-group-item.sf-insert-toolbar-btn.disabled .sf-menu-with-dropdown-triangle-icon {
  color: #c2c2c2;
}

.sf-insert-toolbar-btn .sf-menu-with-dropdown-icon {
  flex: 1;
  justify-content: flex-start;
  padding-left: 6px;
  padding-right: 2px;
  font-size: 14px;
}

.sf-insert-menu-popover .popover {
  min-width: 200px;
  z-index: 1070;
}

.sf-insert-menu-popover .sf-insert-menu-container {
  padding: 8px 0;
}

.menu-group-item.sf-menu-with-dropdown {
  border: 0 !important;
  height: 24px;
  margin-right: 10px;
  overflow: hidden;
  padding: 0 !important;
}

.menu-group-item.sf-insert-toolbar-btn .mdfont {
  font-size: 14px;
}

.menu-group-item.sf-insert-toolbar-btn .md-arrow-down,
.menu-group-item.sf-insert-toolbar-btn .md-arrow-up {
  font-size: 12px;
  margin-right: 6px;
}
