.sf-markdown-help-wrapper {
  display: none;
  border-left: 1px solid #eee;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.sf-markdown-help-wrapper.active {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0;
  width: auto;
  overflow: visible;
}
