/* formula */
.sf-selected-formula {
  display: block;
  user-select: none;
  outline: 2px solid #007bff;
}

.sf-selected-formula .MathJax {
  margin: 0;
}

.sf-selected-formula .formula-preview {
  padding: 10px;
  border: 2px dashed #ebebeb;
  min-height: 40px;
  overflow-x: auto;
}
