.sf-menu-group {
  height: 100%;
  padding: 6px 0 6px 8px;
  font-size: 0.75rem;
  border-right: 1px solid #e5e6e8;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 !important;
}

.sf-menu-group .sf-menu-group-item {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 8px;
  border: none !important;
  color: #555;
  background-color: #fcfcfc;
}

.sf-menu-group .sf-menu-group-item:disabled {
  color: #BDBDBD;
}

.sf-menu-group .sf-menu-group-item:hover {
  background-color: #F2F2F2;
  border-radius: 2px;
}

.sf-menu-group .sf-menu-group-item[data-active='true'] {
  color: #eb8205;
}

.sf-menu-group .sf-menu-group-item .iconfont {
  font-size: 12px;
}

/* sf-menu-with-dropdown */
.sf-menu-group .sf-menu-group-item.sf-menu-with-dropdown {
  width: 36px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 !important;
  padding: 0 !important;
  margin-right: 10px;
  overflow: hidden;
}

.sf-menu-group .sf-menu-group-item.sf-menu-with-dropdown.disabled {
  color: #999;
  width: 24px !important;
}

.sf-menu-with-dropdown:not(.disabled):hover {
  background: #F2F2F2;
  border-radius: 2px;
}

.sf-menu-with-dropdown .sf-menu-with-dropdown-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sf-menu-with-dropdown .sf-menu-with-dropdown-triangle {
  width: 12px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sf-menu-with-dropdown .sf-menu-with-dropdown-triangle .sf-menu-with-dropdown-triangle-icon {
  font-size: 12px;
  color: #999;
}

.sf-dropdown-list {
  top: 30px;
  left: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  align-items: center;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #e5e6e8;
  border-radius: 2px;
  box-shadow: 0 0 10px #ccc;
}

.sf-dropdown-list .sf-dropdown-menu-item-icon {
  margin-right: 8px;
}

.sf-dropdown-list .sf-dropdown-menu-item-text {
  white-space: nowrap;
}

.sf-dropdown-list .sf-dropdown-list-item {
  display: flex;
  padding: 9px 16px 9px 28px;
  height: auto;
  width: 100%;
  font-size: 14px;
  line-height: 1;
}

.sf-dropdown-list .sf-dropdown-list-item:hover {
  background-color: #F2F2F2;
}

.sf-icon-btn-hover:hover {
  cursor: pointer;
}
