.longtext-modal-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1070;
}

.longtext-dialog-container {
  width: 800px;
  border-radius: 3px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translateX(-50%);
  top: 20px;
  overflow: hidden;
  bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  background-clip: padding-box;
}

/* header */
.longtext-header-container {
  box-sizing: border-box;
  padding: 0 8px 0 16px;
}

.longtext-header-container.longtext-header-container-border {
  border-bottom: 1px solid #e9ecef;
}

.longtext-header-container .longtext-header {
  height: 36px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
}

.longtext-header-container .longtext-header-name {
  font-weight: 700;
}

.longtext-header-container .longtext-header-tool {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.longtext-header-container .longtext-header-tool-item {
  width: 24px;
  height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  opacity: 1;
}

.longtext-header-container .longtext-header-tool-item.long-text-full-screen {
  background-color: #e0e0e0;
}

.longtext-header-container .longtext-header-tool-item:not(.long-text-full-screen):hover {
  background-color: #EFEFEF;
}

/* content */
.longtext-content-container {
  overflow: hidden;
  flex: 1 1 auto;
  height: fit-content;
}

.longtext-content-container.longtext-content-container-scroll {
  overflow-y: auto;
  height: fit-content;
}

.longtext-content-container .sf-slate-editor-toolbar {
  height: 34px;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  box-shadow: none;
}

.longtext-content-container .sf-slate-editor-content {
  height: calc(100% - 34px);
}

.longtext-content-container .sf-slate-editor-toolbar .sf-menu-group {
  padding: 4px 0 4px 8px;
}

.longtext-content-container .sf-slate-editor-toolbar .sf-menu-group:first-child {
  padding-left: 0px;
}

.longtext-content-container .sf-slate-editor-toolbar .sf-menu-group .sf-menu-group-item .mdfont {
  font-size: 14px;
}

.longtext-content-container .sf-slate-editor-toolbar .sf-header-menu {
  padding: 4px 6px 4px 0;
}

.longtext-content-container .sf-slate-editor-toolbar .sf-header-menu .sf-header-toggle {
  padding: 0 3px 0 6px;
}

.longtext-content-container .sf-slate-editor-toolbar .sf-slate-help-info-control {
  right: 6px;
}

.longtext-content-container .sf-slate-editor-toolbar .sf-slate-help-info-control .mdfont {
  font-size: 14px;
}

.longtext-content-container .sf-simple-slate-editor-container {
  border: none;
  height: 100%;
  width: 100%;
}

.longtext-content-container .sf-simple-slate-editor-container .article {
  padding: 16px;
  height: auto;
  min-height: 100% !important;
  margin: 0 !important;
  color: #212529;
  overflow-x: hidden;
}

.longtext-content-container .sf-simple-slate-editor-container .article>div[role="textbox"]> :first-child {
  margin-top: 0;
}

.longtext-content-container .article h2 {
  border-bottom: none;
}

.longtext-content-container .article pre {
  margin: 0;
}

.longtext-content-container .sf-slate-editor-toolbar button:focus {
  outline: none;
}

.longtext-content-container .sf-image-wrapper .full-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  line-height: 28px;
  top: 10px;
  right: 10px;
  padding: 0px;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none !important;
  z-index: 1000;
}

.longtext-content-container .sf-image-wrapper .full-screen .mdfont {
  color: #fff;
}

.longtext-content-container .sf-image-wrapper .full-screen:hover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
