.sf-article-info-container-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 620px;
  min-width: 360px;
  position: relative;
  flex-basis: 620px;
}

.sf-article-info-container {
  flex: 1 1;
  width: auto;
  height: 100%;
  overflow: auto;
  border-left: 1px solid #d8d8d8;
  background-color: #fff;
}

.sf-article-info-container .nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.5rem;
  border-bottom: 1px solid #e8e8e8;
  height: 48px;
  padding: 8px 16px;
}

.nav-control {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-control:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
}

.sf-article-info-container .nav .nav-item {
  display: flex;
  flex: 1;
  align-items: center;
  width: 0; 
}

.sf-article-info-container .nav .nav-link {
  padding: 0 0.75rem;
  transition: 0.3s color;
  margin-right: 0;
}

.sf-article-info-container .nav-link {
  color: #888;
}

.sf-article-info-container .nav .nav-link.active {
  color: #ff9800;
  border-bottom: 0;
}

.sf-article-info-container .nav .iconfont {
  font-weight: 700;
  font-size: 0.875rem;
}

.sf-article-info-container .sf-article-info-content {
  flex: 1;
  font-size: 0.937rem;
  min-height: 0;
  overflow: auto;
}

.sf-article-info-container .sf-article-info-content:hover {
  overflow: auto;
}




.detail-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.5rem;
  border-bottom: 1px solid #e8e8e8;
  height: 48px;
  padding: 8px 16px;
}

.detail-header .detail-title {
  display: flex;
  flex: 1;
  align-items: center;
  width: 0; /* prevent strut flex layout */
}

.detail-header .detail-title .name {
  margin: 0 0.5rem 0 6px;
  line-height: 1.5rem;
  vertical-align: middle;
  font-size: 1rem;
  color: #212529;
}

.detail-header .detail-control {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.detail-header .detail-control .detail-control-close {
  font-size: 16px;
  fill: #666;
}

.detail-header .detail-control:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
}
