.sf-slate-editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  position:relative;
}

.sf-slate-editor-container .sf-slate-editor-toolbar {
  display: flex;
  justify-content: center;
  height: 44px;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
  user-select: none;
  border-bottom: 1px solid #e5e6e8;
  position: relative;
  z-index: 102;
}

.sf-slate-editor-container .sf-slate-editor-content {
  width: 100%;
  height: calc(100% - 44px);
  display: flex;
  background: #f5f5f5;
  position: relative;
  min-height: 0;
}

.sf-slate-editor-container .sf-slate-scroll-container {
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: #fafaf9;
  overflow: auto;
  flex: 1 1;
  display: flex;
  position: relative;
}

.sf-slate-editor-container .sf-slate-scroll-container.isWin::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

.sf-slate-editor-container .sf-slate-scroll-container.isWin::-webkit-scrollbar-button {
  display: none;
}

.sf-slate-editor-container .sf-slate-scroll-container.isWin::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 212);
  border-radius: 10px;
}

.sf-slate-scroll-container .sf-slate-article-content{
  display: flex;
  position: absolute;
  min-width: 1100px;
  width: 100%;
}

.sf-slate-editor-container .sf-slate-article-container {
  flex: 1;
  position: relative;
  max-width: 950px;
  min-width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 794px;
  top: 0px;
}

.sf-slate-editor-container .sf-slate-editor-content .article {
  max-width: 950px;
  min-height: 1200px;
  padding: 40px 60px;
  background-color: #fff;
  border: 1px solid #e5e6e8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
  color: #212529;
}

.sf-slate-editor-container .sf-slate-editor-content .article h1,
.sf-slate-editor-container .sf-slate-editor-content .article h2,
.sf-slate-editor-container .sf-slate-editor-content .article h3,
.sf-slate-editor-container .sf-slate-editor-content .article h4,
.sf-slate-editor-container .sf-slate-editor-content .article h5,
.sf-slate-editor-container .sf-slate-editor-content .article h6 {
  color: #212529;
}

.sf-slate-editor-container .sf-slate-editor-content .article div:first-child {
  outline: none;
}

@media (max-width: 991.8px) {
  .sf-slate-editor-toolbar {
    overflow-x: auto;
    padding-right: 40px !important;
    justify-content: flex-start !important;
  }

  .sf-slate-editor-toolbar::-webkit-scrollbar{
    display: none;
  }

  .sf-slate-editor-toolbar .sf-slate-article-info-control,
  .sf-slate-editor-toolbar .sf-slate-help-info-control {
    right: 0;
    padding: 0 20px;
    height: 43px;
    align-items: center;
    background-color: #fcfcfc;
    position: fixed;
  }

  .sf-slate-article-container {
    width: 100%;
  }

  .sf-slate-article-container .article {
    margin: 20px !important;
    padding: 20px 30px;
  }

  .sf-markdown-help-wrapper {
    width: 363px !important;
    flex: 0 0 250px;
  }
}

@media (max-width: 768px) {
  .sf-slate-editor-container .sf-slate-article-container {
    flex: 1;
    position: relative;
    max-width: 950px;
    min-width: auto;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .sf-slate-article-container .article {
    margin: 0 !important;
    padding: 10px 15px !important;
    border: 0 !important;
  }
}
