.sf-link-verified-dialog {
  width: 448px;
  max-width: 448px;
}

.sf-link-verified-dialog .modal-content {
  border-radius: 16px;
}

.sf-link-verified-dialog .modal-header {
  align-items: center;
  padding: 10px 8px 10px 16px;
  border-bottom: 0;
}

.sf-link-verified-dialog .modal-body {
  padding-top: 4px;
}

.sf-link-verified-dialog .sf-tip-default {
  color: #666;
  font-size: 14px;
}

.sf-link-verified-dialog .sf-verify-link {
  word-break: break-all;
}

.sf-link-verified-dialog .modal-footer {
  border-top: 0;
  padding: 0 16px 16px;
}
