.sf-slate-viewer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  position: relative;
}

.sf-slate-viewer-scroll-container {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
  overflow: auto;
  background: #f4f4f4;
  padding: 30px 0 15px;
}

.sf-slate-viewer-scroll-container.isWin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.sf-slate-viewer-scroll-container.isWin::-webkit-scrollbar-button {
  display: none;
}

.sf-slate-viewer-scroll-container.isWin::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 212);
  border-radius: 10px;
}

.sf-slate-viewer-scroll-container .sf-slate-article-content {
  flex: 1;
  display: flex;
}

.sf-slate-viewer-scroll-container.outline .sf-slate-viewer-article-container {
  flex: 1;
  position: relative;
  max-width: 950px;
  min-width: 400px;
  margin: 0 auto;
  width: 794px;
  top: 0px;
}

.sf-slate-viewer-scroll-container .article {
  margin: 0 auto;
  padding: 40px 60px;
  max-width: 950px;
  min-height: calc(100% - 15px);
  border: 1px solid #e6e6dd;
  background: #fff;
  color: #212529;
}

.sf-slate-viewer-scroll-container .article h1,
.sf-slate-viewer-scroll-container .article h2,
.sf-slate-viewer-scroll-container .article h3,
.sf-slate-viewer-scroll-container .article h4,
.sf-slate-viewer-scroll-container .article h5,
.sf-slate-viewer-scroll-container .article h6 {
  color: #212529;
}

.sf-slate-viewer-container.mobile .sf-slate-article-content {
  min-width: 0;
  min-height: 0;
  width: 100%;
  padding: 0 10px;
}

.sf-slate-viewer-container.mobile .sf-slate-viewer-article-container {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.sf-slate-viewer-container.mobile .sf-slate-viewer-article-container .article {
  margin: 0 !important;
  padding: 10px 15px !important;
  border: 0 !important;
}

.sf-slate-viewer-container .sf-editor-outline-wrapper {
  top: 130px;
}
