.sf-slate-viewer-scroll-container {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
  overflow: auto;
  background: #f4f4f4;
  padding: 30px 0 15px;
}

.sf-slate-viewer-scroll-container .sf-slate-viewer-article-container {
  flex: 1;
  margin: 0 auto 15px;
}

.sf-slate-viewer-scroll-container.outline .sf-slate-viewer-article-container {
  margin: 0 340px 15px 40px;
}

.sf-slate-viewer-scroll-container .sf-slate-viewer-outline {
  height: 80%;
  overflow: auto;
  padding-right: 1rem;
  position: fixed;
  right: 0;
  top: 97px;
  width: 300px;
}

.sf-slate-viewer-scroll-container .article {
  margin: 0 auto;
  padding: 40px 60px;
  max-width: 950px;
  min-height: calc(100% - 15px);
  border: 1px solid #e6e6dd;
  background: #fff;
}

@media (max-width: 991.98px) {
  .sf-slate-viewer-outline {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .sf-slate-viewer-article-container {
    padding: 0 10px;
    width: 100%;
    margin: 0 !important;
  }

  .sf-slate-viewer-article-container .article {
    margin: 0 !important;
    padding: 20px !important;
  }

  .sf-slate-viewer-outline {
    display: none !important;
  }
}


